<h3 translate="offsidebar.setting.SETTINGS" class="text-center text-thin">Settings</h3>

<ul>
    <li style="list-style: none;">
        <a ui-sref="app.userprofile" title="User Profile">
           User Profile
        </a>  
    </li>
    
    <li style="list-style: none;">
        <a ui-sref="app.companyprofile" title="Company Profile">
           Company Profile
        </a>	
    </li>

    <li style="list-style: none;">
        <a ui-sref="app.gst" title="GST Details">
           GST Details
        </a>  
    </li>

    <!-- <li style="list-style: none;">
        <a ui-sref="app.discount" title="Discount Settings">
           Discount Settings
        </a>  
    </li> -->
    
    <li style="list-style: none;">
        <a ui-sref="app.jobs" title="Jobs">
           Jobs
        </a>  
    </li>
    
    <!--li style="list-style: none;">
        <a ui-sref="app.registrations" title="Buyer Registration">
           Buyer Registration
        </a>  
    </li-->
    
    <li style="list-style: none;">
        <a ui-sref="app.changepassword" title="Change Password">
           Change Password
        </a>  
    </li>
    <li style="list-style: none;">
        <a ng-click="logout()" title="Logout">
           Logout
        </a>
   </li>
   <li style="list-style: none;">
        <a href="http://www.wishbook.io/tnc/" title="Terms & Conditions" target="_blank">
           Terms &amp; Conditions
        </a>
   </li>
   <li style="list-style: none;">
        <a ui-sref="app.contactus" title="Contact Us">
           Contact Us
        </a>
   </li>
</ul>
