

<script type="text/ng-template" id="createbulkpurchaseorder">
<div ng-controller="CreatePurchaseOrderController as showCase1">
      <div class="ngdialog-message">
            
        <div class="panel-heading"></div>
        <div class="panel-body">
          <form name="showCase1.purchaseOrderForm" ng-submit="" form-wizard="" validate-steps="true" novalidate="" steps="2" class="form-validate modelform-order">
             <div class="form-wizard wizard-horizontal">
                <!-- START wizard steps indicator-->
                <ol class="row">
                   <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-6">
                      <h4>Order Details</h4>
                   </li>

                   <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-6 prepareproducts">
                      <h4>Product Details</h4>
                   </li>

                   <!--li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-md-4">
                      <h4>Shipping Details</h4>
                   </li-->
                </ol>
                <!-- END wizard steps indicator-->
                <!-- START Wizard Step inputs -->
                  <div id="step1" ng-show="wizard.active(1)">
                   <fieldset>
                      <legend>Order Details</legend>
                   <div class="row" ng-if="catalogstobeorder.length < 1">
                      <div class="col-md-3"> 
                          <div class="form-group has-feedback">
                             <label>Catalog *</label>
                             <div class="controls">
                              <!--lable class="form-control">{{showCase1.order_title}}</lable-->
                              <!--select chosen="" name="catalog" ng-model="cdata.catalog" ng-options="c.id as c.title for c in showCase1.catalogs" data-placeholder="" class="chosen-select form-control"  >
                               <option value=""></option>
                              </select-->
                              <input type="hidden" name="catalog" ng-model="cdata.catalog" class="chosen-select form-control"  readonly />
                              <input type="text" name="catalog_name" ng-model="catalog_name" class="chosen-select form-control"  readonly />
                             </div>                          
                          </div>
                      </div>
                      <div class="col-md-2" ng-if="single_piece_avl"> 
                          <div class="form-group">
                             <label>Full Catalog?*</label>
                             <div class="controls">
                             <select name="sell_full_catalog" ng-model="cdata.sell_full_catalog" class="form-control" >
                               <option value="true" >Yes</option>
                               <option value="false" >No</option>
                             </select>
                             </div>
                          </div>
                      </div>

                     <!--  <div class="col-md-3" ng-if="!publiccatalogflag">
                        <div class="form-group has-feedback">
                           <label>Supplier *</label>
                           <div class="controls">
                            <select chosen="" name="buyer" ng-model="showCase1.order.supplier" ng-options="c.company_id as c.company_name for c in showCase1.suppliers" data-placeholder="Select Supplier" class="chosen-select form-control" required="required" data-parsley-group="step1" ng-change="supplierChange(showCase1.order.supplier)" ng-disabled="catalogstobeorder.length > 0" >
                             <option value=""></option>
                            </select>
                          <span ng-show="showCase1.purchaseOrderForm.buyer.$dirty &amp;&amp; showCase1.purchaseOrderForm.buyer.$error.required" class="text-danger">This field is required</span>
                           </div>
                        </div>
                      </div>

                      <div class="col-md-3" ng-if="publiccatalogflag"> -->
                       <div class="col-md-3">
                        <div class="form-group has-feedback">
                           <label>Supplier *</label>
                    
                           <div class="controls" ng-if="receivedcatalogflag">
                              <input type="hidden" name="buyer" ng-model="showCase1.order.supplier" class="form-control" readonly />
                              <input type="text" name="buyer" ng-model="showCase1.order.supplier_name" class="form-control" readonly />
                           </div>
                           
                            <div class="controls" ng-if="!receivedcatalogflag" >
                              <select chosen="" name="buyer" ng-model="showCase1.order.supplier" ng-options="c.company_id as c.name for c in showCase1.catalogs_all_suppliers  | filter: { sell_full_catalog:cdata.sell_full_catalog} " data-placeholder="Select Supplier" class="chosen-select form-control" required="required" data-parsley-group="step1" ng-change="supplierChange(showCase1.order.supplier)" ng-disabled="catalogstobeorder.length > 0" >
                               <option value=""></option>
                              </select>
                              <span ng-show="showCase1.purchaseOrderForm.buyer.$dirty &amp;&amp; showCase1.purchaseOrderForm.buyer.$error.required" class="text-danger">This field is required</span>
                           </div>
                          
                        </div>
                      </div> 

                      
                      <div class="col-md-2"> 
                          <div class="form-group">
                             <label>No. of Sets *</label>
                             <div class="controls">
                             <input type="number" name="sets" ng-model="cdata.sets" class="form-control" style="width: 70% !important;" min="1" />
                             </div>
                          </div>
                      </div>
                    
                      <!-- <div class="col-md-2"> 
                          <div class="form-group">
                             <label>Packing Type *</label>
                             <div class="controls">
                             <select name="packingtype" ng-model="cdata.packingtype" class="form-control" >
                               <option value="Box" >Box</option>
                               <option value="Naked" >Naked</option>
                             </select>
                             </div>
                          </div>
                      </div> -->
                      <div class="col-md-2"> 
                          <div class="form-group">
                             <label>Catalog Remark</label>
                             <div class="controls">
                             <input type="text" name="note" ng-model="cdata.note" autocomplete="off"  class="form-control" />
                             </div>
                          </div>
                      </div>
                  </div>
                  <div class="row" style="text-align: right;"  ng-if="catalogstobeorder.length < 1">
                      <div class="col-md-12"> 
                         <button type="submit" ng-click="CatalogArray()" class="btn btn-primary mt-lg" style="    background-color: green;">Add</button>
                      </div>
                  </div>
                  <hr>
                  <table class="table table-hover" ng-if="catalogstobeorder.length > 0">
                      <thead>
                      
                            <th style="text-align: center;" >Thumbnail</th>
                            <th style="text-align: center;" >Catalog</th>
                            <th style="text-align: center;" ># Sets</th>
                            <th style="text-align: center;" >Total Qty</th>
                            <!--th style="text-align: center;" >Packing</th-->
                            <th style="text-align: center;" >Remark</th>
                            <th style="text-align: center;" ></th>
                      </thead>
                      
                      <tbody ng-repeat="catalog in catalogstobeorder">
                        <tr>
                            <td style="text-align: center;" ><img class="loading" ng-src="{{catalog.thumbimage}}" style="width: 100px; height: 100px"></td>
                            <td style="text-align: center;" >{{catalog.title}}</td>
                            <td style="text-align: center;" >{{catalog.sets}}</td>
                            <td style="text-align: center;" >{{catalog.qty}}</td>
                            <!--td style="text-align: center;" >{{catalog.packingtype}}</td-->
                            <td style="text-align: center;" >{{catalog.note}}</td>
                            <td style="text-align: center;" ><a ng-click="remove(catalog)">Remove</a></td>
                            
                           
                        </tr>
                         
                      </tbody>
                   </table>
                  <hr>
                  <div class="row">
                    <!--div class="col-md-4"> 
                        <div class="form-group has-feedback">
                           <label>Order Number *</label>
                           <div class="controls">
                           <input type="text" name="order_number" placeholder="Order Number" autocomplete="off" ng-model="showCase1.order.order_number" class="form-control" required="required" data-parsley-group="step1"/>
                           <span ng-show="showCase1.purchaseOrderForm.order_number.$dirty &amp;&amp; showCase1.purchaseOrderForm.order_number.$error.required" class="text-danger">This field is required</span>
                           </div>
                        </div>
                    </div-->
                    <!--div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label>Supplier *</label>
                           <div class="controls">
                            <select chosen="" name="buyer" ng-model="showCase1.order.supplier" ng-options="c.company_id as c.company_name for c in showCase1.suppliers" data-placeholder="Select Supplier" class="chosen-select form-control" required="required" data-parsley-group="step1">
                             <option value=""></option>
                            </select>
                          <span ng-show="showCase1.purchaseOrderForm.buyer.$dirty &amp;&amp; showCase1.purchaseOrderForm.buyer.$error.required" class="text-danger">This field is required</span>
                           </div>
                        </div>
                     </div-->
                     <!-- <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label>Agent</label>
                           <div class="controls">
                            <select chosen="" name="agent" ng-model="showCase1.order.agent" ng-options="c.company_id as c.company_name for c in showCase1.agents" data-placeholder="Select Agent" class="chosen-select form-control" data-parsley-group="step1">
                             <option value=""></option>
                            </select>
                           </div>
                        </div>
                     </div> -->
                     <div class="col-md-4"> 
                          <div class="form-group">
                             <label>Order Remark</label>
                             <div class="controls">
                             <input type="text" name="note" placeholder="Order Remark" ng-model="showCase1.order.note" autocomplete="off"  class="form-control" data-parsley-group="step1" />
                             </div>
                          </div>
                      </div>
                  </div>

              

                  <!--div class="row" ng-show="showCase1.order_type == 'sales_order'">
                     <div class="col-md-12">
                        <div class="form-group has-feedback">
                           <label>Buyer *</label>
                           <div class="controls">
                            <select chosen="" name="buyer" ng-model="showCase1.order.buyer" ng-options="c.company_id as c.company_name for c in showCase1.buyers" data-placeholder="Select Buyer" class="chosen-select form-control" data-parsley-group="step1">
                             <option value=""></option>
                            </select>
                          
                           </div>
                        </div>
                     </div>
                  </div-->
                  
                  <!--div class="row" ng-show="showCase1.order_type == 'purchase_order'">
                     <div class="col-md-12">
                        <div class="form-group has-feedback">
                           <label>Supplier</label>
                           <div class="controls">
                            <select chosen="" name="supplier" ng-model="showCase1.order.supplier" ng-options="c.company_id as c.company_name for c in showCase1.suppliers" data-placeholder="Select Supplier" class="chosen-select form-control" required="required" ng-required="showCase1.order_type == 'purchase_order'" data-parsley-group="step1">
                             <option value=""></option>
                            </select>
                          <span ng-show="showCase1.purchaseOrderForm.supplier.$dirty &amp;&amp; showCase1.purchaseOrderForm.supplier.$error.required" class="text-danger">This field is required</span>
                           </div>
                        </div>
                     </div>
                  </div-->
                  <!--div class="row" ng-show="showCase1.order_type == 'purchase_order'">
                    <div class="col-md-12"> 
                        <div class="form-group has-feedback">
                           <label>Supplier *</label>
                           <div class="controls">
                            <lable class="form-control">{{showCase1.supplier_title}}</lable>
                           </div>
                        </div>
                    </div>
                  </div-->
                  
                  <!--div class="row">
                     <div class="col-md-12">
                        <div class="form-group has-feedback">
                           <label>Agent</label>
                           <div class="controls">
                            <select chosen="" name="agent" ng-model="showCase1.order.agent" ng-options="c.company_id as c.company_name for c in showCase1.agents" data-placeholder="Select Agent" class="chosen-select form-control" data-parsley-group="step1">
                             <option value=""></option>
                            </select>
                            
                           </div>
                        </div>
                     </div>
                  </div-->
                  
                  <!--div class="row">
                    <div class="col-md-12">  
                    <div class="form-group has-feedback">
                      <label>Order Status *</label>
                          <select name="customer_status" chosen="" ng-model="showCase1.order.customer_status" ng-options="s.value as s.display_name for s in order_statuses" data-placeholder="Customer Status" width="'100%'" class="chosen-select input-md form-control" required="required" data-parsley-group="step1">
                             <option value=""></option>
                             
                          </select>
                           <span ng-show="showCase1.purchaseOrderForm.customer_status.$dirty &amp;&amp; showCase1.purchaseOrderForm.customer_status.$error.required" class="text-danger">This field is required</span>
                       </div>
                    </div>
                  </div-->
                  
                  <!--div class="row" ng-show="showCase1.order_type == 'sales_order'">
                    <div class="col-md-12">  
                    <div class="form-group has-feedback">
                      <label>Sales Attachment</label>
                           <div class="controls">
                           <input type="text" name="order_number" placeholder="Attachment" autocomplete="off" ng-model="showCase1.order.order_number" class="form-control" required="required" data-parsley-group="step1"/>
                           <span class="fa fa-user form-control-feedback text-muted"></span>
                           <span ng-show="showCase1.purchaseOrderForm.order_number.$dirty &amp;&amp; showCase1.purchaseOrderForm.order_number.$error.required" class="text-danger">This field is required</span>
                           </div>
                       </div>
                    </div>
                  </div-->

                   </fieldset>
                   <ul class="pager" ng-if="catalogstobeorder.length > 0">
                      <li class="next"><a class="prepareproducts" ng-click="wizard.go(2)">Next <span>&rarr;</span></a>
                      </li>
                   </ul>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
               
                <div id="step2" ng-show="wizard.active(2)">
                   <fieldset>
                      <legend>Product Details</legend>
                      <!-- START row -->
                      <!--table class="table table-hover">
                          <thead>
                                <th>Image</th>
                                <th>SKU</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Select Product</th>
                            
                          </thead>
                          
                          <tbody ng-repeat="product in showCase1.order.products">
                            <tr>
                                <td><img class="loading" ng-src="{{product.image}}" style="width: 100px; height: 100px"></td>
                                <td>{{product.sku}}</td>
                                <td>
                                    <input type="number" name="product.selling_price" ng-model="product.selling_price" data-parsley-group="step2" placeholder="Enter price" autocomplete="off"  class="form-control"  required/>
                                </td>
                                
                                <td><input type="number" name="{{product.quantity}}" ng-model="product.quantity" ng-blur="showCase1.changeQty(product.quantity)" data-parsley-group="step2" placeholder="Enter quantity"  class="form-control"  value="1" required/></td>
                                <td><input class="needsclick" type="checkbox" value="" ng-model="product.is_select"/></td>
                            </tr>
                             
                          </tbody>
                       </table-->
                        <!--div>
                           <li ng-repeat="cat in catalogstobeorder">
                              {{cat.title}}
                                <ul ng-repeat="product in cat.catalogsproducts">
                                    <li>{{product.sku}}</li>
                                </ul>
                          </li>
                        </div-->
                          
                          <div class="col-md-12" style="font-weight: bold;">
                              <div class="col-md-3">Catalog</div>
                              <div class="col-md-3">Designs</div>
                              <div class="col-md-2">Sets</div>
                              <div class="col-md-2">Total Qty</div>
                              <div class="col-md-2"></div>
                          </div>

                          <div class="col-md-12" ng-repeat="cat in catalogstobeorder track by $index">
                              <div class="col-md-12" style="border: 1px solid gray; padding: 0.5%; margin-bottom: 2px;">
                                <div class="col-md-3">{{cat.title}}</div>
                                <div class="col-md-3">{{cat.total_products}}</div>
                                <div class="col-md-2">{{cat.sets}}</div>
                                <div class="col-md-2">{{cat.qty}}</div>
                                <div class="col-md-2"><input id="expbtn-{{cat.id}}" ng-click="showhide(cat.id)" type="button" name="Expand" value="Expand" /></div>
                              </div>
                              <div style="display: none;" id="catalog-{{cat.id}}" >
                                <div class="col-md-12" style="font-weight: bold;">
                                    <div class="col-md-3">Image</div>
                                    <div class="col-md-3">SKU</div>
                                    <div class="col-md-2">Price</div>
                                    <div class="col-md-2">Qty</div>
                                    <div ng-show="cdata.sell_full_catalog == 'false'" class="col-md-2">
                                    <input class="needsclick" type="checkbox" value="" ng-model="cat.selectall" ng-click="toggleAll($index)"/>Select All</div>
                                </div>
                                <div class="col-md-12"  ng-repeat="product in cat.catalogsproducts">
                                    
                                    <div class="col-md-3"><img class="loading" ng-src="{{product.image}}" style="width: 100px; height: 100px"></div>
                                    <div class="col-md-3">{{product.sku}}</div>
                                    <div class="col-md-2">
                                        <input type="number" name="product.order_price" ng-model="product.order_price" data-parsley-group="step2" placeholder="Enter price" autocomplete="off"  class="form-control" readonly="readonly" />
                                    </div>
                                    
                                    <div class="col-md-2"><input type="number" name="{{product.quantity}}" ng-model="product.quantity" ng-blur="showCase1.changeQty(product.quantity)" data-parsley-group="step2" placeholder="Enter quantity"  class="form-control"  value="1" required/></div>
                                    <!-- ng-if="cat.sell_full_catalog == false"-->
                                    <div ng-show="cdata.sell_full_catalog == 'false'" class="col-md-2"><input class="needsclick" type="checkbox" value="" ng-model="product.is_select" ng-click="toggleCheckAll($parent.$index)" /></div>
                                </div>
                              </div>
                          </div>
                          
                         
                        <!--table class="table table-hover">
                          <thead>
                                <th>Image</th>
                                <th>SKU</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Select Product</th>
                            
                          </thead>
                          <li ng-repeat="cat in catalogstobeorder">
                          {{cat.title}}
                          </li>
                          <tbody  ng-repeat="product in cat.catalogsproducts">
                            <tr>
                                <td><img class="loading" ng-src="{{product.image}}" style="width: 100px; height: 100px"></td>
                                <td>{{product.sku}}</td>
                                <td>
                                    <input type="number" name="product.selling_price" ng-model="product.selling_price" data-parsley-group="step2" placeholder="Enter price" autocomplete="off"  class="form-control"  required/>
                                </td>
                                
                                <td><input type="number" name="{{product.quantity}}" ng-model="product.quantity" ng-blur="showCase1.changeQty(product.quantity)" data-parsley-group="step2" placeholder="Enter quantity"  class="form-control"  value="1" required/></td>
                                <td><input class="needsclick" type="checkbox" value="" ng-model="product.is_select"/></td>
                            </tr>
                          </tbody>
                          
                       </table-->
                      
                      <div class="row" align="center">
                         <div class="col-md-12">
                          <div class="form-group">
                            <button type="submit" ng-click="CreateOrder();" class="btn btn-primary mt-lg">Create Order and Continue</button>
                          </div>
                         </div>
                      </div>
                   
                      <!-- END row -->
                   </fieldset>
                   <ul class="pager">
                      <li class="previous">
                         <a ng-click="wizard.go(1)">
                            <span>&larr; Previous</span>
                         </a>
                      </li>
                   </ul>
                </div>
                <!-- END Wizard Step inputs -->
              
             </div>
           </form>
         </div><!-- END panel -->
    </div> <!-- End ng dialog -->
    </div> <!-- End ng-controller -->
   </script>
