<h3>Buyer</h3>
<div class="panel panel-default modelform3">
   <div class="panel-body" >
		<div ng-controller="CompaniesBuyerController as showCase">
			<table datatable="" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstance" class="table-striped table-bordered hover " width="100%">
			</table>
		</div>
   </div>
</div>

<h3>Supplier</h3>
<div class="panel panel-default modelform3">
   <div class="panel-body" >
		<div ng-controller="CompaniesSupplierController as showCase">
			<table datatable="" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstance" class="table-striped table-bordered hover " width="100%">
			</table>
		</div>
   </div>
</div>

<h3>Pending Buyer</h3>
<div class="panel panel-default modelform3">
   <div class="panel-body" >
		<div ng-controller="CompaniesPendingBuyerController as showCase">
			<table datatable="" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstance" class="table-striped table-bordered hover " width="100%">
			</table>
		</div>
   </div>
</div>

<h3>Pending Suppler</h3>
<div class="panel panel-default modelform3">
   <div class="panel-body" >
		<div ng-controller="CompaniesPendingSupplierController as showCase">
			<table datatable="" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstance" class="table-striped table-bordered hover " width="100%">
			</table>
		</div>
   </div>
</div>
