<h3><span class="btn-label" style="margin-left: 2%; color: #51c6ea;background-color: white" onclick="goBack()" title="Go Back"><i class="fa fa-arrow-left"></i></span> My Followers</h3>
<div class="panel panel-default modelform4">
   <div class="panel-body" >
      <div ng-controller="MyFollowerslistController as showCase">
	
        <table datatable="" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstance" class="row-border hover" width="100%">
        </table>
        
		</div>
   </div>
</div>
