<style>
   .panel-body {
      margin-left: 20px !important;
   }
</style>

<h3><!-- <span class="btn-label" style="margin-left: 2%; color: #51c6ea;" onclick="goBack()" title="Go Back"><i class="fa fa-arrow-left"></i></span> --> Change Password
</h3>
<div ng-controller="ChangePasswordFormController as cp" class="panel panel-default">
   <!-- START panel-->
   
   <div class="panel-heading"></div>
   <div class="panel-body">
        
         <form role="form" name="cp.changepasswordForm" novalidate="" ng-submit="cp.ChangePassword()" class="form-validate mb-lg modelform">
         <div class="row">
         <div class="col-md-4">
            <div class="form-group has-feedback">
               <label class="text-muted">Password</label>
               <input id="id-password" type="password" name="account_password" ng-model="cp.changepassword.new_password1" required="" class="form-control" ng-minlength = "6" ng-maxlength = "30"/ autocomplete = "off"/>
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="cp.changepasswordForm.account_password.$dirty &amp;&amp; cp.changepasswordForm.account_password.$error.required" class="text-danger">This field is required.</span>
               <span ng-show="cp.changepasswordForm.account_password.$error.minlength" class="text-danger">Minimum 6 character required.</span>
               <span ng-show="cp.changepasswordForm.account_password.$error.maxlength" class="text-danger">Maximum 30 character required.</span>
               <!--span ng-show="cp.changepasswordForm.account_password.$dirty &amp;&amp; cp.changepasswordForm.account_password.$error.pattern" class="text-danger">Input should match 'a-zA-Z0-9' and 6-10 length</span  ng-pattern="/^[a-zA-Z0-9]{6,10}$/"-->
            </div>
         </div>
         </div>
         <div class="row">
         <div class="col-md-4">
            <div class="form-group has-feedback">
               <label class="text-muted">Retype Password</label>
               <input type="password" name="account_password_confirm" ng-model="cp.changepassword.new_password2" required=""  autocomplete = "off" ui-validate="'$value==cp.changepassword.new_password1'" ui-validate-watch="'new_password1'" class="form-control" ng-minlength = "6" ng-maxlength = "30" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="cp.changepasswordForm.account_password_confirm.$dirty &amp;&amp; cp.changepasswordForm.account_password_confirm.$error.required" class="text-danger">This field is required.</span>
               <span ng-show="cp.changepasswordForm.account_password_confirm.$error.minlength" class="text-danger">Minimum 6 character required.</span>
               <span ng-show="cp.changepasswordForm.account_password_confirm.$error.maxlength" class="text-danger">Maximum 30 character required.</span>
               <span ng-show="cp.changepasswordForm.account_password_confirm.$dirty &amp;&amp; cp.changepasswordForm.account_password_confirm.$error.validator" class="text-danger">Password does Not match.</span>
            </div>
         </div>
         </div>

         <div class="row">
         <div class="col-md-2">
            <div class="form-group left">
            <button type="submit" class="buttonPrimary">Submit</button>
            </div>
         </div>
         </div>
         </form>
  
         
      </div>
   </div>
   <!-- END panel-->
   
</div>
