<div ng-controller="LoginFormController as login" class="block-center mt-xl wd-xxl">
    <!-- START panel-->
   
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <a href="#" style="color: white; font-size: 24px;">
            <div class="brand-logo" align="center">
                  <img style="margin-top: -5px;" src="app/img/logo.png" alt="App Logo" class="img-responsive" />
            </div>
            </a>
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">SIGN IN TO CONTINUE.</p>
         <form role="form" ng-submit="login.login()" name="login.loginForm" novalidate="" class="form-validate mb-lg modelform">
            <!--div class="form-group has-feedback">
               <input id="exampleInputEmail1" type="text" name="account_username" placeholder="Enter username" autocomplete="off" ng-model="login.account.username" class="form-control" />
               <span class="fa fa-user form-control-feedback text-muted"></span>
            </div>
            <label>Or</label-->
            <div class="form-group has-feedback">
            <div class="row">
               <div class="col-md-5" ng-hide="is_username">
                  <select name="country" chosen="" ng-model="login.account.country" ng-options="cd.id as cd.name for cd in countries" class="chosen-select input-md form-control" ng-value="login.account.country" required="">
                      <option value=""></option>
                   </select>
               </div>
               <div class="col-md-7">
            <input type="text" name="account_nameornumber" placeholder="Username or Phone Number" autocomplete="off" ng-model="login.account.name_or_number" id="loginusername" class="form-control" ng-change="login.isUsername()" required="" />
                  <span style="right: 7%;" class="fa fa-phone form-control-feedback text-muted"></span>
                  <span ng-show="login.loginForm.account_nameornumber.$dirty &amp;&amp; login.loginForm.account_nameornumber.$error.required" class="text-danger">This field is required</span>
                  
               </div>
            </div>
            </div>

            <div class="form-group has-feedback">
               <input id="exampleInputPassword1" type="password" name="account_password" placeholder="Password" ng-model="login.account.password" required="" class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="login.loginForm.account_password.$dirty &amp;&amp; login.loginForm.account_password.$error.required" class="text-danger">This field is required</span>
            </div>
            <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <input type="checkbox" value="" name="account_remember" ng-model="login.account.remember" />
                     <span class="fa fa-check"></span>Remember Me</label>
               </div>
               <div class="pull-right"><a ui-sref="page.recover" class="text-muted">Forgot your password?</a>
               </div>
            </div>
	  <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <input type="checkbox" value="" name="is_opted" ng-model="is_opted" />
                     <span class="fa fa-check"></span>Update me about order status and new offers via call and SMS</label>
               </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">Login</button>
         </form>
         <!--div ng-show="login.authMsg" class="alert alert-danger text-center">{{login.authMsg}}</div-->
         <!--p class="pt-lg text-center">Need to Signup?</p><a ui-sref="page.register" class="btn btn-block btn-default">Register Now</a-->
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
   
   <script type="text/ng-template" id="otpform">
         <form role="form" name="login.otpForm" novalidate="" ng-submit="registerUser()" class="form-validate mb-lg modelformOtp">  
            <div class="form-group has-feedback">
               <label class="text-muted">One Time Password</label>

               <input type="text" name="otp" placeholder="Enter otp" autocomplete="off" ng-model="login.otp.value" required="" class="form-control" />
               
               <span ng-show="login.otpForm.otp.$dirty &amp;&amp; login.otpForm.otp.$error.required" class="text-danger">This field is required</span>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="form-group"> 
                     <button type="submit" class="btn btn-block btn-primary mt-lg">Submit</button>
                  </div>
               </div>
            
               <div class="col-md-4">
                  <div class="form-group">
                     <button type="button" ng-click="regenerateOtp()" class="btn btn-block btn-secondary mt-lg">Resend</button>
                     </div>
               </div>
            </div>
         </form>
   </script>
   
</div>
