<div ng-controller="PasswordresetFormController as pres" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <a href="#" style="color: white; font-size: 24px;">Wishbook</a>
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">RESET PASSWORD.</p>
         <form role="form" name="pres.passwordresetForm" novalidate="" ng-submit="pres.passwordreset()" class="form-validate mb-lg modelform">
           
            <div class="form-group has-feedback">
               <label class="text-muted">Password</label>
               <input id="id-password" type="password" name="account_password" ng-model="pres.passwordreset.password" ng-pattern="/^[a-zA-Z0-9]{6,10}$/" required="" class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="pres.passwordresetForm.account_password.$dirty &amp;&amp; pres.passwordresetForm.account_password.$error.required" class="text-danger">This field is required</span>
               <span ng-show="pres.passwordresetForm.account_password.$dirty &amp;&amp; pres.passwordresetForm.account_password.$error.pattern" class="text-danger">Input should match 'a-zA-Z0-9' and 6-10 length</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Retype Password</label>
               <input type="password" name="account_password_confirm" ng-model="pres.passwordreset.password_confirm" ui-validate="'$value==pres.passwordreset.password'" ui-validate-watch="'password'" class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="pres.passwordresetForm.account_password_confirm.$dirty &amp;&amp; pres.passwordresetForm.account_password_confirm.$error.required" class="text-danger">This field is required</span>
               <span ng-show="pres.passwordresetForm.account_password_confirm.$dirty &amp;&amp; pres.passwordresetForm.account_password_confirm.$error.validator" class="text-danger">Password does Not match</span>
            </div>
            
            <button type="submit" class="btn btn-block btn-primary mt-lg">Submit</button>
         </form>
         <!--div ng-show="pres.authMsg" class="alert alert-danger text-center">{{pres.authMsg}}</div-->
         
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>
