<style>
   .panel-body {
      margin-left: 20px !important;
   }
</style>

<h3><!-- <span class="btn-label" style="margin-left: 2%; color: #51c6ea;background-color: white" onclick="goBack()" title="Go Back"><i class="fa fa-arrow-left"></i></span> --> Contact us
</h3>

<!-- START panel-->

<div ng-controller="ContactusController as contact">
<div  ng-init="app.offsidebarOpen = false" class="panel panel-default">
  
   <div class="panel-heading"></div>
   <div class="panel-body">
   
      <div class="row">
            <div class="col-md-6">
               <div class="form-group"> 
                  <label>Wishbook Support: </label> <br>
                  Call: +91261 6718989 <br><br>
                  <label>Wishbook Buyer Support </label><br>
                  Call: 09978618989 <br>
                  WhatsApp: <a href="https://wa.me/919978618989" target="_blank">https://wa.me/919978618989</a><br><br>
                  <label>Wishbook Seller Support </label><br>
                  Call: 09537518989 <br>
                  WhatsApp: <a href="https://wa.me/919537518989" target="_blank">https://wa.me/919537518989</a><br><br>
                  <label>Wishbook Catalog Upload Team </label><br>
                  Call: 08469218980 <br>
                  WhatsApp: <a href="https://wa.me/918469218980" target="_blank">https://wa.me/918469218980</a><br><br>
                  <!--label>Join Resellers WhatsApp group - </label><br>
                     <a href="{{RESELLER_WHATSAPP_GROUP}}" target="_blank">{{RESELLER_WHATSAPP_GROUP}}</a><br><br>
                  <label>Join Retailers WhatsApp group - </label><br>
                     <a href="{{RETAILER_WHATSAPP_GROUP}}" target="_blank">{{RETAILER_WHATSAPP_GROUP}}</a><br><br-->
            
               </div>
            </div>
      </div>
   
   </div>


</div>
</div>


<!-- END panel -->
