<script type="text/javascript">
  fbq('track', 'ViewContent');
</script>

<style>
.loading {
  background: transparent url('/media/logo-single.png') center no-repeat;
  background-size: 100px 100px;
}
</style>

<!-- <h3> <span class="btn-label" style="margin-left: 2%; color: #51c6ea;background: white" onclick="goBack()" title="Go Back"><i class="fa fa-arrow-left"></i></span>  Background Jobs</h3> -->
<div class="panel panel-default">
   <div class="panel-body" >
      <div ng-controller="JobController as showCase">
      <!--table datatable="" dt-options="cat.dtOptions" dt-columns="cat.dtColumns" class="row-border hover"></table-->
      <table datatable="" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstance" class="row-border hover" width="100%">
      </table>
		
	  </div>
   </div>
</div>
