<!--h3><span class="btn-label" style="margin-left: 2%; color: #51c6ea;" onclick="goBack()" title="Go Back"><i class="fa fa-arrow-left"></i></span> Attendance : {{$stateParams.name}}</h3-->
<div class="panel panel-default modelform3">
   <div class="panel-body" >
		
	<div ng-controller="BuyerSalesOrderController as showCase">
	    
	    <div class="col-md-12">
	  	  <table datatable="attendance-datatable" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstance" class="table-striped table-bordered hover" width="45%">
	    	</table>
	    </div>
	    
	</div>
			
   </div>
</div>
