<h3 translate="offsidebar.setting.SETTINGS" class="text-center text-thin">Settings</h3>

<ul class="list-group">
    <li  class="list-group-item">
        <a ui-sref="app.userprofile" title="User Profile" class="hvr-forward hvr-icon-rotate"
        style="text-decoration:none; font-size:16px;">
         <em class="fa fa-user hvr-icon" style="color: #5d9cec;font-size: 16px;;margin-right: 5px"></em>
           User Profile
        </a>  
    </li>
    
    <li class="list-group-item">
        <a ui-sref="app.companyprofile" title="Company Profile" class="hvr-forward hvr-icon-rotate"
         style="text-decoration:none; font-size:16px;">
         <em class="fa fa-user hvr-icon" style="color: #5d9cec;font-size: 16px;margin-right: 5px"></em>
           Company Profile
        </a>	
    </li>

    <li class="list-group-item">
        <a ui-sref="app.brandwisediscount" title="Discount Settings" class="hvr-forward hvr-icon-rotate" style="text-decoration:none; font-size:16px;">
            <em class="fa fa-bookmark hvr-icon" style="color: #5d9cec;font-size: 16px;margin-right: 5px"></em>
            Discount Settings
        </a>
    </li>
    
    <!--li class="list-group-item">
        <a ui-sref="app.gst" title="GST Details" class="hvr-forward hvr-icon-rotate"
         style="text-decoration:none; font-size:16px;">
            <img src="app/img/3_GST.png" alt="gsticon" style="width:16px;margin-right: 5px" class="hvr-icon" />
           GST Details
        </a>                     INCLUDED INSIDE COMPANY PROFILE WB-4530
    </li-->

    <!--li class="list-group-item">
        <a ui-sref="app.bankdetails" title="Bank Details" class="hvr-forward hvr-icon-rotate"
         style="text-decoration:none; font-size:16px;">
         <em class="fa fa-university hvr-icon" style="color: #5d9cec;font-size: 16px;;margin-right: 5px"></em>
           Bank Details
        </a>                    INCLUDED INSIDE COMPANY PROFILE WB-4530
    </li-->

    <!-- <li class="list-group-item">
        <a ui-sref="app.discount" title="Discount Settings">
           Discount Settings
        </a>  
    </li> -->
    
    <li class="list-group-item">
        <a ui-sref="app.jobs" title="Jobs"class="hvr-forward hvr-icon-rotate"
         style="text-decoration:none; font-size:16px;">
         <em class="fa fa-briefcase hvr-icon" style="color: #5d9cec;font-size: 16px;;margin-right: 5px"></em>
           Background Jobs
        </a>  
    </li>
    
    <!--li class="list-group-item">
        <a ui-sref="app.registrations" title="Buyer Registration">
           Buyer Registration
        </a>  
    </li-->
    
    <li class="list-group-item" >
        <a ui-sref="app.changepassword" title="Change Password" class="hvr-forward hvr-icon-rotate"
         style="text-decoration:none; font-size:16px;">
         <em class="fa fa-lock hvr-icon" style="color: #5d9cec;font-size: 16px;;margin-right: 5px"></em>
           Change Password
        </a>  
    </li>
    <li class="list-group-item">
        <a ng-click="logout()" title="Logout"class="hvr-forward hvr-icon-rotate"
         style="text-decoration:none; font-size:16px;">
         <em class="fa fa-power-off hvr-icon" style="color: #5d9cec;font-size: 16px;;margin-right: 5px"></em>
           Logout
        </a>
   </li>
   <li class="list-group-item">
        <a href="http://www.wishbook.io/tnc/" title="Terms & Conditions" target="_blank" class="hvr-forward hvr-icon-rotate"
         style="text-decoration:none; font-size:16px;">
         <em class="fa fa-info-circle hvr-icon" style="color: #5d9cec;font-size: 16px;;margin-right: 5px"></em>
           Terms &amp; Conditions
        </a>
   </li>
    <li class="list-group-item">
        <a href="http://www.wishbook.io/seller-return-policy/" title="Terms & Conditions" target="_blank" class="hvr-forward hvr-icon-rotate"
            style="text-decoration:none; font-size:16px;">
            <em class="fa fa-info-circle hvr-icon" style="color: #5d9cec;font-size: 16px;;margin-right: 5px"></em>
            Return Policy
        </a>
    </li>
   <li class="list-group-item">
        <a ui-sref="app.contactus" title="Contact Us"class="hvr-forward hvr-icon-rotate"
         style="text-decoration:none; font-size:16px;">
         <em class="fa fa-phone hvr-icon" style="color: #5d9cec;font-size: 16px;;margin-right: 5px"></em>
           Contact Us
        </a>
   </li>
</ul>
