<h3>Become a Seller</h3>
<div class="panel panel-default">
   <div class="panel-body" >
		<div ng-controller="becomeSellerController as showCase">
		
		  <form role="form" ng-submit="showCase.BecomeSeller()" name="showCase.becomeSellerForm" novalidate="" class="form-validate mb-lg modelform">
		  
		  <div class="row">
		    <div class="col-md-8">  
			<div class="form-group has-feedback">
			  <label>Select Catalog*</label>
			    <div class="controls">  
			      <select name="catalog" chosen="" ng-model="showCase.seller.catalog" ng-options="s as s.title+' [catalog id: '+s.id+']' for s in catalogs" width="'100%'" class="chosen-select input-md form-control" required>
				 <option value="">Select Catalog</option>
			      </select>
			       <span ng-show="showCase.becomeSellerForm.catalog.$dirty &amp;&amp; showCase.becomeSellerForm.catalog.$error.required" class="text-danger">This field is required</span>
			    </div>
			</div>
		    </div>
		  </div>

		  <!--div class="row">
		    <div class="col-md-12">  
			<div class="form-group has-feedback">
			  <label>Select Company*</label>
			    <div class="controls">  
			      <select name="brand" chosen="" ng-model="showCase.seller.catalog" ng-options="s.id as s.name for s in companies"  width="'100%'" class="chosen-select input-md form-control" required="">
				 <option value="">Select Company</option>
			      </select>
			       <span ng-show="showCase.becomeSellerForm.brand.$dirty &amp;&amp; showCase.becomeSellerForm.brand.$error.required" class="text-danger">This field is required</span>
			    </div>
			</div>
		    </div>
		  </div-->

		  <div class="row">
		    <div class="col-md-4">  
				<div class="form-group has-feedback">
			  	<label>Enter Company ID*</label>
			    <div class="controls">  
			   
			      	<input type="number" autocomplete="off" name="company" ng-model="showCase.seller.company" placeholder="Enter Company ID"  class="form-control" min=0 required/>
			      	<span ng-show="showCase.becomeSellerForm.company.$dirty &amp;&amp; showCase.becomeSellerForm.company.$error.required" class="text-danger">This field is required</span>
			    	</div>
				</div>
		    </div>
		  
           	<div class="col-md-4">
              	<div class="form-group"> 
                 	<label>Enter Catalog Enable Duration (in Days)</label>
                 	<div class="controls">
                    	<input type="number" autocomplete="off" name="enable_duration" ng-model="showCase.seller.enable_duration" placeholder="Enter Duration"  class="form-control" min="10" required/>
                    	<span ng-show="showCase.becomeSellerForm.enable_duration.$error.min" class="text-danger">Duration should be minimum 10 Days</span>
                	</div>
              	</div>
           	</div>
        </div>
			
		  <div class="row">
		    <div class="col-md-8"> 
		      <button type="submit" class="btn btn-default btn-primary mt-lg" style="float:right;">Submit</button>
		    </div>
		  </div>
		  </form>
		 
		</div>
   </div>
</div>
